@page
@model HQ.Cadence.AspNetCore.Areas.Cadence.Pages.Page1Model
@{
    Layout = null;
}

@*https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-2.1&tabs=visual-studio*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
</body>
</html>
